.Age{
    width: 80px;
}
.Name{
    width: 300px;
}
.ID{
    width: 25px;
}
.CityName{
    width: 280px;
}
.RemoveIcon{
    width: 25px;
}
.SaveIcon{
    width: 25px;
}
.greenClass{
    color: green;
}
.redClass{
    color: grey;
}