<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css" rel="stylesheet" /> 
</head>
<body>
    <form  > 
        <p style="color: green;" class="fade in" [ngClass]="{hiddenClass: !(showMyMessage), ShowClass: showMyMessage}"><span class="fas fa-check"></span>Employee Saved</p>
        <p style="color: red;" class="fade in" [ngClass]="{hiddenClass: !(showdeleteMessage), ShowClass: showdeleteMessage}"><span class="fas fa-check"></span>Employee Deleted</p>
        <p style="color: blue;" class="fade in"  [ngClass]="{hiddenClass: !(showrowMyMessage), ShowClass: showrowMyMessage}"><span class="fas fa-check"></span>Row Added</p>

        <button type="button" (click)="importitem()" class="btn btn-primary pull-right">Add Row</button>
          <table class="table text-center" >
    <tr>
        <th class="text-center" >
            ID
        </th>
        <th class="text-center" >
            Name
        </th>
        <th class="text-center" >
            Age 
        </th>
        <th class="text-center">
            City
        </th>
        <th>
        </th>
        <th>
        </th>

    </tr>
    <tbody [formGroup]="item"  *ngFor="let item of EmployeesData.controls ; let i = index ;">
        <tr >
     <td *ngIf="this.showinfo && ( this.ShowMoreinfo == item.controls.employeeID.value) &&!(item.controls.employeeID.value==0)  " class="ID"><span (click)="this.showdetail(item.controls.employeeID.value,item.controls.employeeName.value)" class="fas fa-angle-down" style="float: left; margin-top: 8px; cursor: pointer;"></span> <label class="form-control" style="border: none; box-shadow: none;"> {{item.controls.employeeID.value}} </label></td>
     <td *ngIf="!(this.showinfo && ( this.ShowMoreinfo == item.controls.employeeID.value) &&!(item.controls.employeeID.value==0))  " class="ID"><span (click)="this.showdetail(item.controls.employeeID.value,item.controls.employeeName.value)" class="fas fa-angle-right" style="float: left; margin-top: 8px; cursor: pointer;"></span> <label class="form-control" style="border: none; box-shadow: none;"> {{item.controls.employeeID.value}} </label></td>
    
            <td class="Name"> <div [ngClass]="{'has-error': item.get('employeeName').invalid  }"> <input type="text" class="form-control" (change)="this.setname(item)"  formControlName="employeeName" >  
            </div>
        </td>
            <td class="Age" > <div [ngClass]="{'has-error': (item.get('employeeAge').invalid && item.get('employeeAge').touched) || !(item.get('employeeAge').value > 0)  }"><input type="number" class="form-control" formControlName="employeeAge" > 
            
                  </div>
            </td>
            <td class="CityName"> <div [ngClass]="{'has-error': item.get('CityID').invalid && item.get('CityID').touched }">
                <select class="form-control" formControlName="CityID"> 
                   <option   *ngFor="let Cityitem of City ;let i = index;" [ngValue]="Cityitem.id" >
                       {{Cityitem.Name}}
                   </option>
                </select> 
            </div>
            </td>
            <td class="SaveIcon "> 
             <button style="outline: none; border: none; font-size: larger; background-color: white; margin-top: 6px;" [disabled]="(this.item.invalid || item.get('employeeName').invalid || item.get('employeeAge').invalid) || !(item.get('employeeAge').value > 0)  "  (click)="MoveToEdit(this.item)">   <span class="fas fa-save" [ngClass]="{greenClass: !(this.item.invalid|| item.get('CityName').invalid || item.get('employeeName').invalid || item.get('employeeAge').invalid) , redClass: (this.item.invalid|| item.get('CityName').invalid || item.get('employeeName').invalid || item.get('employeeAge').invalid) || !(item.get('employeeAge').value > 0)}"></span> 
             </button>
            </td> 
            <td class="RemoveIcon"> 
                <button style="outline: none; border: none; font-size: larger; background-color: white;margin-top: 6px;" (click)="Removeitem(item.get('employeeID').value,i)" title="Delete Employee"> 
                    <span class="fas fa-trash-alt" style="color:red; height: 26px;"></span> 
                     
                     </button>
            </td>
        </tr>

        <tr  *ngIf="this.showinfo && ( this.ShowMoreinfo == item.controls.employeeID.value) &&!(item.controls.employeeID.value==0)  ">
           <td colspan="6">
            <app-employee-certain-data [EmployeeID]="item.controls.employeeID.value" [NameVariable]= "this.Datatransfer" (Name)="GetNameValueChange($event,item)">

            </app-employee-certain-data>
        </td>

        </tr>
    </tbody>
    </table>

</form>

</body>